<html ng-app="App">

<head>
   <title>AngularJS HTML DOM</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="css/test.css">
   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
   <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
   <script src="https://code.angularjs.org/1.4.5/angular-route.min.js"></script>
   <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>


   <script src="js/test.js"></script>

</head>

<body>
   <div class="container">
      <h2>AngularJS Sample Application</h2>
      <div ng-controller="Add">
         <div class="row form-group">
            <input ng-model="book.title" type="text" placeholder="book title" class="myclass form-control col-ms-4">
            <input ng-model="book.author " type="text" placeholder="book author" class="col-ms-4 form-control ">{{book.author|rev}}
            <input ng-model="book.cost" type="text" placeholder="book cost" class="col-ms-4 form-control">
            <button ng-click="addBook(book.title,book.author,book.cost)" class="btn btn-primary">add book</button>
            <br>
            <br>
            <label class="for">Filter : </label>
            <input ng-model="book1.title" type="text" placeholder="filter" class="form-control">
            <input ng-model="book1.author" type="text" placeholder="filter" class="form-control">
         </div>

         <table class="table table-hover">
            <tr ng-animate='animation' style="background: grey;">
               <th>#</th>
               <th>Book Title</th>
               <th>Author</th>
               <th>Cost in $</th>
            </tr>
            <tr ng-animate="animate" ng-repeat="book in BookData | filter : book1:strict">
               <td class=col-xs-1>
                  <input type=checkbox ng-checked='book.checked' ng-model='tick' ng-click="checkWatcher(book)">
               </td>
               <td class=col-xs-4>{{book.title}}</td>
               <td class=col-xs-4>{{book.author}}</td>
               <td class=col-xs-3>{{book.cost | currency}}</td>
            </tr>
         </table>
         <button ng-click="remove()" class="btn btn-primary">remove book</button>

      </div>

   </div>
   <div ng-view></div>


</body>

</html>